/**
--starter-color-base-button-primary-hover-background: #818cf8;
  --starter-color-base-button-primary-focus-outline: #111827;
  --starter-color-base-button-primary-disabled-background: #3730a3;
  --starter-color-base-button-primary-color: #f9fafb;
  --starter-color-base-button-primary-background: #6366f1;
  --starter-color-base-button-primary-active-shadow: #3730a3;
  --starter-color-base-button-outline-border-color: #111827;
  --starter-color-base-button-outline-background: rgba(0, 0, 0, 0);
  */

.btn {
  background-color: var(--starter-color-base-button-primary-background);
  padding: 0.5rem 1.5rem;
  color: var(--starter-color-base-button-primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: var(--starter-color-base-button-primary-hover-background);
}

.btn:focus {
  outline: 2px solid var(--starter-color-base-button-primary-focus-outline);
  outline-offset: 2px;
}

.btn:active {
  box-shadow: inset 0 0 0px 2px
    var(--starter-color-base-button-primary-active-shadow);
}

.btn[outline] {
  background-color: var(--starter-color-base-button-outline-background);
  border: 2px var(--starter-color-base-button-outline-border-color);
}

.btn[disabled] {
  background-color: var(
    --starter-color-base-button-primary-disabled-background
  );
}
